.top-apps {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 120px;

  .google-play {
    width: 135px;
    height: 40px;
  }

  .app-store {
    width: 120px;
    height: 40px;
  }
}
