@import url('../../styles/fonts.css');

$column-size: calc(100% / 12);
$color_white: #ffffff;
$color_very-light-grey: #f3f3f4;
$color_light-black: #333333;
$color_dark-grey: #383838;
$color_calendar-grey: #4d4d4d;
$color_light-grey: #eaf0f9;
$color_grey: #bfbfbf;
$color_medium-grey: #8a8989;
$color_tawny: #f5bd41;
$color_dark-blue: #10367c;
$color_light-blue: #3077c6;
$top_border-radius: 8px;

.places__flex-container {
    display: flex;
    gap: 1.5%;
    margin: 105px auto 0;
    position: relative;
}
