@import url('../../styles/fonts.css');
@import '../../styles/styles.scss';

.places__arrow {
  display: block;
  position: absolute;
  top: 30%;
  z-index: 4;
  left: calc(100% - 25px);
  transform: translate(0%, -50%);
  max-width: 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: $color_white;
  box-shadow: 1px 5px 5px $color_medium-grey;
  transition: box-shadow 0.2s;
}
.places__arrow:active {
  box-shadow: 1px 1px 1px $color_medium-grey;
}

.places__arrow img {
  width: 40%;
  height: 40%;
}

#places__arrow-prev {
  position: absolute;
  top: 30%;
  z-index: 4;
  left: calc(-25px);
  img {
    transform: rotate(180deg);
  }
}

.places__arrow_hidden {
  display: none;
}
