@import url("../../styles/fonts.css");
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 16px;
  max-width: 1230px;
  margin: auto;
}

.App {
  text-align: center;
}
.App .homes {
  padding: 120px 0;
  order: 4;
  background: #eaf0f9;
  font-family: "Roboto", sans-serif;
}
.App .homes .title {
  margin: 0 auto;
  text-align: center;
}
.App .homes .title .title-text {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}
.App .homes .title .title-text:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid #f5bd41;
  transition: width 0.5s;
}
.App .homes .title .title-text:hover::after {
  width: 35%;
}
.App .homes .title:hover {
  opacity: 0.8;
}
.App .homes .places__flex-container {
  display: flex;
  gap: 1.5%;
  margin: 105px auto 0;
  position: relative;
}
.App .homes .places__flex-container .places__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App .homes .places__flex-container .places__element .places__home-description {
  background: #eaf0f9;
  position: relative;
  top: -28%;
  width: 100%;
  transition: all 0.5s;
}
.App .homes .places__flex-container .places__element .places__home-description .homes__destination {
  color: #bfbfbf;
  margin-bottom: 8px;
}
.App .homes .places__flex-container .places__element .places__home-description_hovered {
  top: 0;
}
.App .homes .places__flex-container .places__element .places__label {
  color: #3077c6;
  margin: 24px 0;
  font-size: 24px;
}
.App .homes .places__flex-container .places__element .places__image {
  transition: all 0.5s linear;
  width: 100%;
  height: 70%;
  object-fit: cover;
  opacity: 0.85;
}
.App .homes .places__flex-container .places__element .places__image:hover {
  opacity: 1;
}
.App .homes .places__flex-container .places__arrow {
  display: block;
  position: absolute;
  top: 30%;
  z-index: 4;
  left: calc(100% - 25px);
  transform: translate(0%, -50%);
  max-width: 40px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 1px 5px 5px #8a8989;
  transition: box-shadow 0.2s;
}
.App .homes .places__flex-container .places__arrow:active {
  box-shadow: 1px 1px 1px #8a8989;
}
.App .homes .places__flex-container .places__arrow img {
  width: 40%;
  height: 40%;
}
.App .homes .places__flex-container #places__arrow-prev {
  position: absolute;
  top: 30%;
  z-index: 4;
  left: -25px;
}
.App .homes .places__flex-container #places__arrow-prev img {
  transform: rotate(180deg);
}
.App .homes .places__flex-container .places__arrow_hidden {
  display: none;
}

/*# sourceMappingURL=App.css.map */
