@import '../../styles/styles';

@mixin slide_up {
  transition: all 0.5s linear;
}

.top__people-filter {
  position: absolute;
  z-index: 1;
  width: 84%;
  background: $color_white;
  right: 0;
  top: 120%;
  border-radius: $top_border-radius;
  padding: 5%;
  border: 0.3px solid $color-light-blue;
  @include slide_up;

  .top__filter-with-children {
    color: $color_dark-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    p {
      text-align: left;
      margin: 8% 0;
    }
    .top__child-years {
      width: 45%;
      height: 30px;
      border: 1px solid $color_light-blue;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: $color-light-blue;
      margin: 2% 0;
    }
  }
  .temporarily-hidden {
    display: none;
  }
}