@import '../../styles/styles';

@mixin active_form-field {
  background: rgba(246, 205, 21, 0.15);
}

.date {
  width: 21%;
  border: none;
  border-radius: $top_border-radius;
}

.people {
  width: 25%;
  border-radius: $top_border-radius;
}

.top__div-but {
  text-align: center;
  font-size: 18px;
  position: relative;
  border: 3px solid $color_white;

  .inner-but {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: $top_border-radius;
    background: $color_white;
    position: relative;
    z-index: 4;
  }
  .inner-but:active {
    @include active_form-field;
  }

  .disable {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    top: 80%;
  }
}

.top__div-but:hover {
  border: 3px solid $color_tawny;
}
