@import url('../../styles/fonts.css');
@import '../../styles/styles.scss';

.places__element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .places__home-description {
    background: $color_light-grey;
    position: relative;
    top: -28%;
    width: 100%;
    transition: all 0.5s;
    .homes__destination {
      color: $color_grey;
      margin-bottom: 8px;
    }
  }
  .places__home-description_hovered {
    top: 0;
  }
  .places__label {
    color: $color_light-blue;
    margin: 24px 0;
    font-size: 24px;
  }
  .places__image {
    transition: all 0.5s linear;
    width: 100%;
    height: 70%;
    object-fit: cover;
    opacity: 0.85;
  }
  .places__image:hover {
    opacity: 1;
  }
}
