@import '../../styles/styles';

.top-search-titles {
  font-size: 18px;
  display: flex;
  padding: 0 25px 25px 25px;
}

.search-destin {
  text-align: left;
  width: 40%;
}

.search-destin,
.search-check {
  font-size: 18px;
}

.top-search-inputs {
  height: 65px;
  margin: auto;
  display: flex;
  gap: 0;
  background: #ffffff;
  border-radius: $top_border-radius;
  padding-left: 8px;
}

.top-search-inputs input {
  font-size: 18px;
}

.destination {
  width: 38%;
  padding-left: 15px;
  border: 3px solid $color_white;
  border-radius: 8px;
}
.destination:hover {
  border: 3px solid $color_tawny;
}
.destination:focus {
  border: 3px solid $color_tawny;
}

.top-search-button {
  width: 16%;
 @include top_button;
}

.top-search-button:hover {
  opacity: 0.7;
  transition: 0.5s;
}
